/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/
@mixin wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}
/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
/* <--------------------------- * SECTION1 * --------------------------- */
.gridRow_wrap {
    @include wrap();
}

.gridRow_align {
    &top {
        align-items: flex-start;
    }
    &bottom {
        align-items: flex-end;
    }
    &middle {
        align-items: center;
    }
    &stretch {
        align-items: stretch;
    }
}

.gridRow_justify {
    &left {
        justify-content: flex-start;
    }
    &center {
        justify-content: center;
    }
    &right {
        justify-content: flex-end;
    }
}

.gridRow_wrap_debug {
    position: relative;
    overflow: inherit !important;
    &::after {
        content: "";
        border: 1px dashed blue;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        z-index: 0;
    }
    .gridCol_wrap {
        position: relative;
        z-index: 1;
    }
}

.gridRow_debugWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    height: 100%;
    justify-content: flex-start;
    flex-flow: row nowrap;
    z-index: 0;
}

.gridRow_debugWrap {
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-type: none;
    padding-inline-start: 0;
}

$MG: 40px;

.gridRow_debugItem {
    background-color: rgba(100, 255, 255, 0.5);
    width: calc((100% - $MG * 11) / 12);
    margin-right: $MG;
    height: 100%;
    box-sizing: border-box;
    list-style: none;
    flex: 0 0 auto;
    &:last-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 655px) {
    .gridRow_debugItem {
        width: calc((100% - $MG * 3) / 4);
    }
}
