/* <------------------------------------ **** SECTION1 MIXIN START **** ------------------------------------ */
/** The demo mixin is ..........*/

$MG: 40px;

@function width($span, $Cols) {
    @return calc((100vw - $MG * ($Cols - 1)) / $Cols * $span + $MG * ($span - 1));
}

@mixin colSpan($span, $Cols) {
    width: width($span, $Cols);
    margin-left: $MG;
    flex: 0 0 auto;
    box-sizing: border-box;
    &:first-of-type {
        margin-left: 0;
    }
}

@mixin colMargin($i, $d, $Cols) {
    &.gridCol_#{$d}#{$i} {
        margin-#{$d}: calc(width($i, $Cols) + $MG);
    }
}

@mixin Css($Cols) {
    &0 {
        display: none;
    }
    @for $i from 1 through $Cols {
        &#{$i} {
            @include colSpan($i, $Cols);
            @for $j from 1 through $Cols {
                @include colMargin($j, "left", $Cols);
                @include colMargin($j, "right", $Cols);
            }
        }
    }
    &#{$Cols} {
        width: 100vw;
    }
}

/* <------------------------------------ **** SECTION1 MIXIN END **** ------------------------------------ */
/* <--------------------------- * SECTION1 * --------------------------- */
/* <--------------------------- * SECTION1 * --------------------------- */

.gridCol_wrap {
    $Cols: 12;
    @include Css($Cols);
}

@media screen and (max-width: 655px) {
    .gridCol_wrap {
        $Cols: 4;
        @include Css($Cols);
    }
}
